blinker==1.8.2
boto3==1.35.42
botocore==1.35.42
click==8.1.7
Flask==3.0.3
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==3.0.1
mysql-connector==2.2.9
packaging==24.1
pluggy==1.5.0
pytest==8.3.3
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
s3transfer==0.10.3
semver==3.0.2
shellescape==3.8.1
six==1.16.0
urllib3==2.2.3
uWSGI==2.0.27
Werkzeug==3.0.4
