boto3==1.35.78
Flask==0.12.3
mysql-connector==2.1.7
pytest==3.0.6
pytest-mock==1.5.0
PyYAML==6.0.2
git+https://github.com/emosbaugh/python-semver@f26d956e2ea13a8159e5629d5b7bf225f8ae5a61#egg=semver
shellescape==3.8.1
uWSGI==2.0.28
